{ifset $formInPanel}
    <div n:attr="id=>$formName" class="panel panel-{ifset $panelType}{$panelType}{else}default{/ifset}{ifset $isHidable} unfocused-panel{/ifset}{ifset $isAjaxForm} ajax{/ifset}">
        <div class="panel-heading">
            <h3 class="panel-title">{ifset $formTitle}{$formTitle}{else}{$formName}{/ifset}</h3>
        </div>
        <div class="panel-body">
            {ifset $additionalText}
                <p class="alert alert-info">{$additionalText}</p>
            {/ifset}
            {snippet formSnippet}
                {control form}
            {/snippet}
            {ifset $addButtons}
                <div class="well">
                {foreach $addButtons as $addButton}
                    {ifset $addButton['params']}
                        {var $args = $addButton['params']}
                    {else}
                        {var $args=[]}
                    {/ifset}
                    <div>{ifset $addButton["label"]}{ifset $translatable}{$addButton["label"]|translate}{else}{$addButton["label"]}{/ifset}&nbsp;{/ifset}<a {ifset $addButton["class"]}class="{$addButton['class']}"{/ifset} href="{plink $addButton['link'] (expand) $args}">{ifset $addButton['icon']}<i class="fa fa-{$addButton['icon']}"></i>{/ifset}{ifset $translatable}{$addButton["title"]|translate}{else}{$addButton["title"]}{/ifset}</a></div>
                {/foreach}
                </div>
            {/ifset}
        </div>
        {ifset $formFooterText}
            <div class="panel-footer">
                {$formFooterText}
            </div>
        {/ifset}
    </div>
{else}
        {control form}
{/ifset}